*, :after, :before {
    box-sizing: border-box;
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    font-size: 1rem;
    color: #16171a;
}

h1, h2, h3, h4, h5 {
    line-height: 1;
    margin: 1rem 0;
    font-weight: 600;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    max-width: 60rem;
    margin: 2rem auto;
    padding: 1rem;
}

header, section {
    padding: 1rem;
}

header {
    flex-basis: 10rem;
    flex-grow: 1;
    position: relative;
}

nav ul {
    border-left: 1px solid #edf2f7;
}
.posts ul, header ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

header li {
    margin-bottom: 0.2rem;
    text-align: left;
    margin-left: 2rem;
}

header a {
    text-decoration: none;
}

section {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 70%;
    display: flex;
    flex-direction: column;
}

img {
    width: 175px;
    aspect-ratio: auto 175 / 175;
    height: 175px;
}

.line-above {
    margin-top: 1rem;
}

.post h2:first-child, .project h2:first-child, .photo h2:first-child {
    margin-top: 0;
}

.post h1, .post h2, .post h3, .post h4 {
    margin: 1rem 0;
}

.post p {
    margin: 0.5rem 0;
}

.posts li, .posts .post-meta {
    align-items: center;
    margin-bottom: 0.5rem;
}

.posts li a, .posts .post-meta a, .posts li div, .projects li a {
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.posts li time, .projects li time {
    padding-left: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
}

strong, b {
    font-weight: bold;
}
h4.post-title {
    margin: 0.5rem 0;
}
h2.single-post-title {
    line-height: 2rem;
}
.posts .blog-post-item, .posts .single-post-content {
    margin-top: 3rem;
}
.post-meta .post-date, .single-post-date {
    font-size: 0.85rem;
}
.post-excerpt {
    margin: 1rem 0;
}

.back-button {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-decoration: none;
}
/***

** Mobile Style

***/

@media screen and (max-width: 45rem) {
    nav ul {
        border-right: 0px;
    }
    header ul {
        border-bottom: 1px solid #edf2f7;
        padding-bottom: 2rem;
    }
    header li {
        display: inline;
        margin: 0 1rem 0 0;
    }
}
